@use "mixins" as *;
@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s all;
}

.btn {
  width: 200px;
  height: 36px;
  border-radius: 6px;
  cursor: pointer;
  background: $secondaryColor;
}

h1 {
  font-size: 32px;
  color: darken($color: #03b8f9, $amount: 5%);
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $primaryColor;

  &:hover {
    filter: brightness(115%);
  }
}

input {
  width: 100%;
  height: 30px;
  padding: 24px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 11px;
  border: none;
  background-color: #fdfdfd;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: darken($color: #fdfdfd, $amount: 10%);
  }
}
