@font-face {
  font-family: StoryScript;
  src: url(./Fonts/StoryScript-Regular.ttf);
}

$primaryColor: rgb(24, 24, 24);
$LogoColor: #03b8f9;
$navbarColor: rgb(223, 197, 197);
$bgrColor: blue;
$secondaryColor: rgb(255, 175, 1);
$secondaryTransperent: rgba(255, 175, 1, 0.8);
