@use "base" as *;
@use "variables" as *;
@use "mixins" as *;

@media (max-width: 500px) {
  body {
    overflow-y: visible;
    height: 125vh;
  }
}
#train-search {
  display: none;
  width: 90%;
  height: 100%;
  justify-self: center;
  align-items: center;
  flex-direction: column;

  header {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media (max-width: 500px) {
      #filter-form {
        display: flex;
        flex-direction: column;
        align-content: center;
      }
    }

    h2 {
      text-align: center;
    }

    #search-filter {
      #filter-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        label {
          margin-bottom: 5px;
        }
        button {
          flex: 1;
          height: 47px;
          border-radius: 11px;
          align-self: flex-end;
          margin-top: 10px;
          margin-left: 10px;
          font-size: 20px;
          background-color: #fdfdfd;
          border-color: $secondaryColor;
          max-width: 200px;
          min-width: 85px;
        }
        .filter-card {
          min-width: 219px;
          max-width: 250px;
          flex: 2;
          display: flex;
          flex-direction: column;
          text-align: center;
          font-size: 20px;
          color: $primaryColor;
          select {
            height: 47px;
            padding-left: 24px;
            border-radius: 11px;
            margin: 0 10px;
            font-size: 18px;
            border-color: $secondaryColor;
          }
          input {
            border: 1px solid $secondaryColor;
          }
        }
      }
    }
  }
}

#current-results {
  overflow-y: auto;
  padding: 10px;
  width: 80vw;

  @media (max-width: 900px) {
    width: 100%;

    .btn {
      width: 150px;
    }
  }
  // custom scrollbar

  /* Custom Scrollbar */
  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background: #eeeeee5e;
  }

  &::-webkit-scrollbar-thumb {
    background: $secondaryColor;
    border-radius: 10px;

    /* fake smaller height */
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondaryTransperent;
    opacity: 0.85;
  }

  scrollbar-width: auto;
  scrollbar-color: $secondaryColor #eeeeee5e; /* Firefox */

  h3 {
    color: $primaryColor;
    font-size: 20px;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
  }

  #results {
    padding: 5px;
    overflow-x: hidden;
    .train-card {
      border-radius: 8px;
      margin: 25px 0 50px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      font-weight: bold;
      background: #f3e6c9;
      background-image: radial-gradient(circle at top left, rgba(0, 0, 0, 0.07), transparent 60%),
        radial-gradient(circle at bottom right, rgba(0, 0, 0, 0.07), transparent 60%);
      border: 2px dashed #8c6e42;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

      button {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }

      .train-name {
        position: absolute;
        right: 5%;
        top: 23px;
      }

      .train-date {
        position: relative;
        bottom: 50%;
        text-align: center;
      }

      .train-weekday {
        text-align: center;
        border-bottom: 2px dotted #8c6e42;
      }

      .train-from,
      .train-to,
      .train-departure,
      .train-arrive {
        text-align: center;
        position: relative;
      }

      @media (max-width: 450px) {
        .train-departure {
          top: 0 !important;
          left: -44%;
        }
        .train-to {
          left: 37% !important;
        }
        .train-arrive {
          left: 38% !important;
          top: -13% !important;
        }
      }
      .train-arrive,
      .train-to {
        left: 100px;
        top: -5px;
        @media (max-width: 768px) {
          top: 27%;
          left: 24%;
        }
      }
      .train-arrive {
        @media (max-width: 768px) {
          left: 44%;
          top: -26%;
        }
      }
      .train-from {
        @media (max-width: 768px) {
          left: -40%;
        }
      }
      .train-departure {
        @media (max-width: 768px) {
          top: -13%;
        }
      }
      .train-departure,
      .train-from {
        right: 100px;
        bottom: -14px;
        @media (max-width: 768px) {
          bottom: -42%;
          right: 20%;
        }
      }
    }
  }
}
.train-card {
  height: 200px;
}
