@use "base" as *;
@use "variables" as *;
@use "mixins" as *;

body {
  height: 100vh;
  background: linear-gradient(to bottom, #e0f4fe, #cbe4f3, #e2f1e4, #d1d9d1);
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.loading-container {
  @include flexCenter;
  text-align: center;
}

.train-container {
  position: relative;
  top: 30vh;
  display: inline-block;
  z-index: 1;
}
.train {
  position: relative;
  animation: wiggle 1s ease-in-out infinite;
  z-index: 2;
}
@keyframes wiggle {
  0%,
  100% {
    transform: translateX(0) rotateZ(0deg);
  }
  50% {
    transform: translateX(2px) rotateZ(0.5deg);
  }
}

.rails {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 250%;
  height: 180px;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 50px,
    #111 50px,
    #123 70px
  );
  clip-path: polygon(40% 0%, 60% 0%, 85% 100%, 15% 100%);
  animation: railMove 1.8s linear infinite;
  opacity: 0.7;
  z-index: 1;
  background-size: 100% 70px;
}
@keyframes railMove {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 70px;
  }
}

.tracks {
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 4px;
  opacity: 0.45;
  background-image: linear-gradient(
    90deg,
    #555 0px,
    #555 15px,
    transparent 15px,
    transparent 30px
  );
  background-size: 30px 100%;
  animation: trackMove 1.2s linear infinite;
}
@keyframes trackMove {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -30px;
  }
}

.loading-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  animation: pulse 1.5s ease-in-out infinite;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.dots {
  display: inline-block;
  width: 2ch;
  margin-left: 5px;
}
.dots::after {
  content: "";
  animation: dots 1.9s steps(4, end) infinite;
}
@keyframes dots {
  0%,
  20% {
    content: "";
  }
  40% {
    content: ".";
  }
  60% {
    content: "..";
  }
  80%,
  100% {
    content: "...";
  }
}
#train-search {
  display: none;
  width: 90%;
  height: 100%;
  justify-self: center;
  align-items: center;
  flex-direction: column;

  header {
    width: 100%;
    height: 200px;

    h2 {
      text-align: center;
    }

    #search-filter {
      #filter-form {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
