@use "base" as *;
@use "variables" as *;
@use "mixins" as *;

#train-search {
  display: none;
  width: 90%;
  height: 100%;
  justify-self: center;
  align-items: center;
  flex-direction: column;

  header {
    width: 100%;
    height: 200px;

    h2 {
      text-align: center;
    }

    #search-filter {
      #filter-form {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

#current-results {
  overflow-y: auto;
}
.train-card {
  height: 200px;
}
