@use "base" as *;
@use "variables" as *;
@use "mixins" as *;

header {
  height: 50vh;
  @include flexCenter;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  position: sticky;
  top: 0;

  .logo {
    @include flexCenter;
    min-width: 290px;
  }

  ul {
    @include flexCenter;
    justify-content: space-evenly;
    min-width: 250px;
    li {
      list-style-type: none;
    }
  }
  #main-container-lang-changer {
    position: relative;
    #language-icon {
      cursor: pointer;
      position: relative;
      top: 3px;
    }
    #languageChanger-dropdown {
      display: none;
      min-width: 120px;
      padding: 10px;
      margin: 5px;
      text-align: center;
      position: absolute;
      top: 25px;
      right: -55px;
      font-size: 18px;
      border-radius: 6px;
      border: 1.4px groove rgb(255, 183, 27);
      background-color: lighten($color: $secondaryColor, $amount: 13%);

      .option {
        padding: 3px;
        border-radius: 5px;

        &:hover {
          background-color: darken($color: $secondaryColor, $amount: 2%);
          cursor: pointer;
        }
      }
    }
  }
}

#Hero-bg {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.main-container-form {
  width: 90%;
  @include flexCenter;
  place-self: center;
  gap: 16px;

  .day-selector {
    position: relative;
    #date {
      position: absolute;
      top: 30px;
      opacity: 0;
      pointer-events: none;
      display: none;
      z-index: 789;
    }

    #dateImage {
      position: absolute;
      width: 50px;
      height: 50px;
      pointer-events: none
    }
  }

  .direction-selector {
    @include flexCenter;

    input {
      height: 70px;

      &:focus {
        border-bottom: 2px solid rgb(80, 176, 80);
      }
    }

    #departure-selector {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    #arrival-selector {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    #departure-container,
    #arrival-container {
      position: relative;

      .dropdown {
        display: none;
        position: absolute;
        top: 74px;
        left: 0;
        padding: 15px;
        font-size: 20px;
        font-weight: 900;
        background-color: lighten($color: $secondaryColor, $amount: 13%);
        width: 100%;
        border-radius: 6px;
        border: 2px outset rgba(163, 214, 170, 0.347);

        div {
          padding: 5px 0 0 10px;
          margin-bottom: 3px;
          border-radius: 5px;

          &:hover {
            background-color: darken($color: $secondaryColor, $amount: 2%);
            cursor: pointer;
          }
        }
      }
    }
  }

  #counter-container {
    position: relative;
    #btn-form-tkt-increment,
    #btn-form-tkt-decrement {
      width: 13px;
      height: 21px;
      font-weight: bold;
      font-size: 12px;
      outline: none;
      border: 1px solid rgb(167, 167, 167);
      background-color: #e2f1e4;
      color: $primaryColor;
    }
    #btn-form-tkt-decrement {
      position: absolute;
      left: 0;
      border-top-right-radius: 40%;
      border-bottom-right-radius: 40%;
      border-left: none;
    }
    #btn-form-tkt-increment {
      position: absolute;
      right: 0;
      border-bottom-left-radius: 40%;
      border-top-left-radius: 40%;
      border-right: none;
    }
  }

  #counter-container:active {
    svg {
      fill: $secondaryColor;
      transition: 0.2s all;
    }
  }

  .box-input {
    min-width: 72px;
    min-height: 72px;
    background-color: #fdfdfd;
    font-size: 12px;
    border-radius: 6px;
    @include flexCenter;
    flex-direction: column;
    cursor: pointer;

    #tkt-counter {
      font-size: 8px;
      font-weight: 900;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

      #tkt-count {
        font-size: 12px;
        font-weight: 100;
        padding-left: 3px;
      }
    }

    svg {
      fill: #7a7a7a;
      width: 24px;
    }

    .box-input-day {
      cursor: pointer;
      width: 100%;
      height: 100%;
      @include flexCenter;
      gap: 7px;
      flex-direction: column;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
  .btn {
    height: 100%;
    width: 25%;
    max-width: 250px;
    min-width: 150px;
    color: white;
    font-size: 17px;
    @include flexCenter;
    gap: 12px;
    border: 1.4px groove rgb(255, 183, 27);
    outline: none;
    &:hover {
      background-color: darken($color: $secondaryTransperent, $amount: 15%);
      border-color: darken($color: rgba(255, 183, 27, 0.77), $amount: 15%);
    }

    .icon svg {
      width: 24px;
      height: 24px;
      fill: white;
    }
  }
  .swapper {
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    @include flexCenter;
    border-radius: 100%;
    border: 1px solid #a7a7a7;
    position: absolute;
    z-index: 50;
    svg {
      fill: rgb(30, 30, 30);
      width: 24px;
      height: 24px;
    }

    &:hover {
      svg {
        fill: lighten($color: rgb(30, 30, 30), $amount: 25%);
      }
    }

    &::after,
    &::before {
      content: "";
      width: 1px;
      height: 10px;
      background-color: #7a7a7a47;
      position: absolute;
      cursor: default;
    }

    &::after {
      top: 40px;
    }
    &::before {
      bottom: 40px;
    }
  }
}
